<h1>Players</h1>
<%= link_to 'New Player', new_player_path, class: 'btn btn-primary' %>
<ul>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.name, edit_player_path(player) %>
      (<%= link_to 'Delete', player_path(player), method: :delete, data: { confirm: 'Are you sure?' } %>)
    </li>
  <% end %>
</ul>
