<h1>New Player</h1>
<%= render 'form', player: @player %>
<%= link_to 'Back', players_path, class: 'btn btn-secondary' %>

<!-- app/views/players/edit.html.erb -->
<h1>Edit Player</h1>
<%= render 'form', player: @player %>
<%= link_to 'Back', players_path, class: 'btn btn-secondary' %>